* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    --winGrey: #6c6c6c;
    --winGreen: #208c71;
    --sysGrey: #c6c6c6;
    scrollbar-gutter: stable;
}
body {
    background: url('/res/img/spacex.gif');
    font-family: Consolas, 'roboto_monoregular', monospace, "Times New Roman", Courier;
    font-weight: 300;
    color: var(--secondary);
}
@font-face {
    font-family: 'roboto_monoitalic';
    src: url('/fonts/Roboto_Mono/robotomono-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('/fonts/Roboto_Mono/robotomono-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto_monoregular';
    src: url('/fonts/Roboto_Mono/robotomono-variablefont_wght-webfont.woff2') format('woff2'),
         url('/fonts/Roboto_Mono/robotomono-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* main container for page layout */
/* inserted via layout.js */
.container {
    display: grid;
    grid-template-columns: 0.9fr 1fr 3fr;
    grid-template-rows: auto auto 5fr auto;
    margin: auto;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 60rem;
    /* fallback bgcolor */
    background-color: var(--primary);
    background-image: linear-gradient(to bottom right,
            var(--gradientTopLeft),
            var(--primary));   
}

/* header */
/* inserted via layout.js */
header {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    padding: 0 2rem;
    width: 100%;
    min-height: 6rem;
    max-height: 6rem;
}
#themeButton {
    border: 2px solid var(--accentOne);
    font-size: 1rem;
    font-family: Consolas, 'roboto_monoregular', monospace, "Times New Roman", Courier;
    width: 5rem;
    color: var(--secondary);
    background-color: var(--primary);
    cursor: pointer;
    padding: .2rem;
    align-self: flex-start;
    margin-right: 2rem;
    margin-left: 16rem;
}
#themeList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px groove var(--accentTwo);
    background-color: var(--accentTwo);
    padding: .3rem;
}
#themeList button {
    font-size: .8rem;
    font-family: Consolas, 'roboto_monoregular', monospace, "Times New Roman", Courier;
    width: 6.5rem;
    cursor: pointer;
    padding: .2rem;
    margin: .1rem;
}
#themeList button:nth-child(1) { /* accentOne secondary primary */
    border: 2px solid #810000;
    color: #eeebdd;
    background-color: #1b1717;
}
#themeList button:nth-child(2) {
    border: 2px solid rgb(54, 36, 24);
    color: #FED8B1;
    background-color: rgb(134, 90, 69);
}
#themeList button:nth-child(3) {
    border: 2px solid rgb(17, 97, 17);
    color: #1b1717;
    background-color: #33FF33;
}
#themeList button:nth-child(4) {
    border: 2px solid #732906;
    color: #9d8457;
    background-color: #2f2617;
}
#themeList button:nth-child(5) {
    border: 2px solid rgb(103, 117, 94);
    color: #968732;
    background-color: #4c5844;
}
#themeList button:nth-child(6) {
    border: 2px solid #bac715;
    color: #d4d8de;
    background-color: #012456;
}
#themeList button:nth-child(7) {
    border: 2px solid grey;
    color: black;
    background-color: white;
}
#themeList button:nth-child(8) {
    border: 2px solid grey;
    color: white;
    background-color: black;
}
#themeList button:nth-child(9) {
    border: 2px solid #99BC85;
    color: #443627;
    background-color: #FFF5E4;
}
#themeList button:nth-child(10) {
    border: 2px solid #0000ac;
    color: #000000;
    background-color: #acaaac;
}
#themeList button:nth-child(11) {
    border: 2px solid #272728;
    color: #dcdcdc;
    background-color: #6a4832;
}
#themeList button:nth-child(12) {
    border: 2px solid rgb(144, 177, 0);
    color: #ffffff;
    background-color: #161616;
}
header div.logo {
    display: flex;
}
header div.logo img {
    width: 6rem;
    filter: invert() drop-shadow(10px 10px 4px var(--winGrey));
}
header h1 {
    padding-left: 0rem;
    margin: 1rem 0 0 0;
    text-shadow: 2px 2px 0px var(--accentTwo);
    width: 100%;
}

/* navbar */
/* inserted via layout.js */
nav {
    grid-area: 2 / 1 / 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
nav ul {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    list-style-type: none;
}
nav ul li {
    flex: 1;
    display: flex;
    justify-content: center;
    text-decoration: none;
    min-height: 100%;
}
nav ul li a {
    color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Consolas, 'roboto_monoregular', monospace, "Times New Roman", Courier;
    font-size: 1rem;
    width: 60%;
    border: 4px outset var(--accentOne);
    padding: 0.75rem 0;
    text-decoration: none;
    background-color: var(--accentTwo);
}
nav ul li a:hover {
    color: var(--secondary);
    background-color: var(--accentOne);
}

/* sidebar */
/* inserted via layout.js */
aside {
    grid-area: 3 / 1 / 4 / 2;
    border-right: 2px solid var(--secondary);
    border-top: 2px solid var(--secondary);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0.5rem;
    padding-top: 1rem;
    min-height: 24.375rem;
    min-width: 10rem;
}

aside h3 {
    border-bottom: 2px solid var(--accentTwo);
    text-align: center;
    margin: 0 1rem;
    margin-top: 0.5rem;
}

aside div h3 {
    width: 9rem;
}

aside div.recentArticle {
    font-size: 0.6rem;
    padding: 0 0 0 1rem;
    margin-top: 0.4rem;

    width: 90%;
    height: max-content;
}

aside div.recentArticle a {
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--secondary);
    font-style: italic;
}

aside button:hover {
    cursor: pointer;
}

aside button:active {
    filter: brightness(200%);
}

div.recentArticle a:hover {
    color: var(--accentOne);
}

aside div.recentArticle p {
    margin-bottom: 0.2rem;
}

.marquee {
    height: auto;
    width: 90%;
    padding: .5rem 0 .45rem 0;
    margin-bottom: .7rem;
    overflow: hidden;
    position: relative;
    background: #fefefe;
    color: #333;
    border: 1px solid #4a4a4a;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: var(--accentOne);
    border: 2px ridge var(--accentTwo);
}

.marquee img {
    -moz-animation: scroll-left 6s linear infinite;
    -webkit-animation: scroll-left 6s linear infinite;
    animation: scroll-left 6s linear infinite;
    height: 31px;
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(270%);
        -webkit-transform: translateX(270%);
        transform: translateX(270%);
    }

    100% {
        -moz-transform: translateX(-270%);
        -webkit-transform: translateX(-270%);
        transform: translateX(-270%);
    }
}

/* footer */
/* inserted via layout.js */
footer {
    grid-area: 4 / 1 / 5 / 4;
    border-top: 2px solid var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 0.25rem;
    padding: 1.2rem;
}
small.withlove {
    color: var(--accentOne);
    width: 13rem;
    border: 2px solid var(--accentOne);
    padding: .3rem;
    margin-top: .2rem;
    text-align: center;
    cursor: default;
    user-select: none;
}

.dashboard {
    background-color: black;
    background:
        linear-gradient(rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.274)),
        url(/res/img/spacex.gif);
    border: 2px ridge var(--accentOne);
    width: 8.875rem;
    height: 10rem;
    padding: 0.2rem;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

div.dashboard time {
    color: #eeebdd;
}

/* main content, all pages */
main {
    grid-area: 3 / 2 / 4 / 4;
    padding: 2rem;
    padding-top: 1rem;
    padding-left: 1.5rem;
    border-top: 2px solid var(--secondary);
}

main h2 {
    margin-bottom: 2px;
    text-align: center;
}

h2:nth-child(n + 2) {
    margin-top: 0.8rem;
}

main p {
    text-indent: 1rem;
    margin: 0.5rem 0 1.3rem 0;
    padding-left: 0.8rem;
    border-left: 2px solid var(--accentOne);
    font-size: 0.85rem;
}

main p a {
    text-decoration: none;
}

main p code {
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 0.8rem;
    color: var(--code);
}

/* figure component */
figure {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    float: right;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}

figure:hover figcaption {
    box-shadow: none;
}

figure.card img {
    width: 13rem;
    border: 4px outset var(--accentOne);
    background-color: var(--primary);
}

figure.card figcaption {
    width: 12rem;
    text-align: center;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 0.5rem;
    border-color: var(--accentOne);
    border-width: 0 4px 4px 4px;
    border-style: outset;
    font-size: 0.8rem;
}

figure.card figcaption a {
    text-decoration: none;
    color: var(--accentOne);
}

/* flaming text */
@keyframes colorCycle {
    0% {
        color: red;
    }

    25% {
        color: orange;
    }

    50% {
        color: rgb(26, 3, 3);
    }

    75% {
        color: orangered;
    }

    100% {
        color: red;
    }
}

.flame-text {
    animation: colorCycle 0.9s infinite linear;
}

/* media queries */
@media screen and (max-width: 1050px) {
    body {
        padding: 0 1rem;
    }
    .container {
        display: flex;
        flex-flow: column wrap;
        margin: 0;
    }
    header {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 1rem;
    }
    header div:nth-child(2) {
        display: flex;
        flex-flow: column nowrap;
        margin-top: 2rem;
    }
    header div:nth-child(2) img {
        width: 5rem;
    }
    header h1 {
        width: 100%;
    }
    header .logo {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    header #themeButton {
        margin: 0;
    }
    nav ul {
        justify-content: center;
        gap: .5rem;
    }
    nav ul li {
        min-width: 25%;
        max-width: 2rem;
    }
    aside {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        min-height: 0;
        border-right: none;
        padding: 1rem 0;
        min-width: 0;
    }
    aside .recentPosts {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    div.marquee {
        max-width: 20%;
        min-width: 15%;
    }
    div.window {
        top: 45%;
        left: 35%;
    }
}
@media screen and (max-width: 600px) {
    header h1 {
        font-size: 2.5rem;
    }
    nav ul li {
        max-width: 8rem;
    }
    nav ul li a {
        font-size: .7rem;
    }
    figure#ricostay {
        width: 15rem;
    }
}
@media screen and (max-width: 515px) {
    header h1 {
        font-size: 2rem;
    }
}
@media screen and (max-width: 370px) {
    header h1 {
        font-size: 1.2rem;
    }
}

p a:visited {
    color: var(--accentOne) !important;
}

p a:not(:visited) {
    color: var(--accentOne) !important;
}

a:hover {
    color: var(--accentOne);
    font-weight: bold;
}

/* homepage */
.chatbox {
    background-color: var(--accentTwo);
    border: 4px ridge var(--accentOne);
    max-width: 68%;
    height: 13rem;
}

.chatbox h3 {
    padding: 0.3rem 0 0.3rem 0.3rem;
    border-bottom: 2px groove var(--accentOne);
}

.chatbox blockquote p {
    border-left: none;
    padding: 0.5rem;
    margin: 0;
    text-indent: 0;
}

/* resource page(s) */
#resourceContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-auto-rows: max-content;
    gap: 1.2rem;
    margin-top: 1rem;
    text-decoration: none;
}

#resourceContainer div {
    color: var(--secondary);
    background: linear-gradient(to bottom right,
            var(--accentOne),
            var(--primary));
    border: 3px ridge var(--accentTwo);
    height: 100%;
    padding: .4rem;
}

#resourceContainer a {
    text-decoration: none;
}

#resourceContainer a:hover div {
    background: linear-gradient(to bottom right,
            var(--primary),
            var(--accentOne));
}

div#resourceContainer a div p {
    border: none;
    padding: 0;
    margin: 0;
    text-indent: 0;
    text-align: center;
    margin-bottom: 0.5rem;
}

main.resourcePage h2 {
    margin-bottom: 1rem;
}

.resGrid {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}

.resGrid div {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.resGrid div p {
    margin-right: 2rem;
    margin-left: .5rem;
}

.resGrid div p img {
    float: right;
    padding: .2rem;
    margin-left: 1rem;
}

/* articles page */
#articlesMain ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#articlesMain ul a {
    text-decoration: none;
}

#articlesMain ul a:visited {
    color: var(--winGrey);
}

#articlesMain ul li {
    border: 2px solid var(--secondary);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    color: var(--secondary);
    background-color: var(--accentOne);
}

#articlesMain ul li:hover {
    color: var(--primary);
    background-color: var(--secondary);
}

#articlesMain ul li span {
    flex: 1;
}

/* individual articles */
.article {
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
}

.article article {
    padding: 2rem;
    padding-top: 1rem;
}

.article article p {
    margin-top: 1rem;
    font-size: 1rem;
}

.article img:first-of-type {
    /* mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 1) -20%,
            transparent 100%); */
    width: 95%;
    margin: 0 auto;
    justify-self: center;
    margin-top: 1.5rem;
    border: 2px solid var(--secondary);
}

.article div.imgRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.article div.imgRow img {
    width: 25%;
    margin: 0;
    margin-top: 1rem;
    border: 4px ridge var(--accentOne);
    background-color: var(--primary);
    padding: 1rem;
}

.article h3 {
    text-align: center;
}

/* quotes page */
#quotesMain h2 {
    margin-bottom: 1rem;
}

#quotesMain hr {
    margin-bottom: 1rem;
}

#quotes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-auto-rows: max-content;
    gap: 1.2rem;
}

div#quotes blockquote {
    background-color: var(--accentTwo);
    padding: 1rem;
    border: 2px groove var(--accentOne);
    display: flex;
    flex-direction: column;
}

div#quotes blockquote div {
    padding: 0.5rem;
    border: 2px groove var(--accentOne);
    text-indent: 1rem;
    line-height: 1.3rem;
}

div#quotes blockquote p {
    text-align: center;
    border-left: none;
    text-indent: 0;
    margin-bottom: 0;
    background-color: var(--primary);
    padding: 0.6rem;
    border: 3px ridge rgb(2, 2, 2);
    font-size: 1rem;
}

/* about page */
#ricostay {
    float: left;
    width: 22rem;
}

#ricostayImg {
    width: 20rem;
}

#ricostayCard {
    width: 80%;
}

#runningMan {
    width: 130px;
}

#runningManCard {
    width: 80%;
}

/* contact page */
#contactMain div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

main#contactMain address {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

main#contactMain address a {
    margin: auto;
    text-decoration: none;
    color: var(--secondary);
    padding: 0.3rem;
    background-color: var(--primary);
    border: 4px outset var(--winGrey);
}

.window {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: var(--primary);
    color: var(--secondary);
    border: 1px ridge var(--accentTwo);
    position: absolute;
    top: 8rem;
    left: 80%;
}
.windowTitle {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 2rem;
    gap: .52rem;
}
.windowTitle h4 {
    user-select: none;
}
.windowTitle div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: .4rem;
}
.windowTitle div:nth-child(2) {
    margin-right: .3rem;
}
.windowTitle div:nth-child(2) button {
    border: 2px ridge var(--accentOne);
    padding: .1rem .3rem;
    background-color: var(--secondary);
    color: var(--primary);
}
.windowTitle div:nth-child(2) button:hover {
    border: 2px groove var(--accentTwo);
    cursor: pointer;
}