* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url('/media/pipertextResources/bgSpace.gif');
	overflow-y: scroll;
	overflow-x: hidden;
}

/* site-wide main content rules */
#pageMain p+ul:not(.elementList) {
	margin: 0 auto;
	max-width: 80%;
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
	margin-bottom: 1.5rem;
	font-size: .9rem;
}

#pageMain .seriesHeaderSubtext {
	text-align: center;
	font-size: .8rem;
	font-style: italic;
	border: 2px solid var(--accentAlt);
	max-width: 65%;
	margin: 0 auto;
	margin-bottom: .9rem;
	padding: .3rem .1rem;
}

#pageMain a {
	color: var(--anchorColor);
	text-decoration: none;
    text-shadow: 1px 1px rgba(128, 128, 128, 0.347);
}

#pageMain a:hover {
	font-weight: bold;
}

#pageMain p>img,
#pageMain p a>img {
	border: 4px inset var(--accent);
}

.noBorder {
	border: none !important;
}

.imgRow {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.imgRow img {
	padding: 1rem;
}

#pageContainer code {
	color: var(--code);
}

.tooltip {
	position: absolute;
	background: var(--backgroundAlt);
	color: var(--text);
	border: 2px solid var(--accent);
	padding: 5px 10px;
	font-size: 14px;
	max-width: 15rem;
	pointer-events: none;
	display: none;
	z-index: 1000;
	font-family: 'Consolas', 'Liberation Mono', monospace;
}

/* --- */

:root {
	--background: #1b1717; /* primaryBG */
	--backgroundAlt: #810000; /* accentBG */
	--accent: #a70f0f; /* accent */
	--accentAlt: #630000; /* accentBGalt */
	--text: #eeebdd; /* text */
	--gradientTopLeft: black;
	--code: rgb(0, 218, 0);
}

#pageContainer {
	display: grid;
	grid-template-areas:
		"header header"
		"navbar navbar"
		"sidebar main"
		"footer footer";
	grid-template-columns: 11rem 1fr;

	max-width: 1024px;
	margin: 0 auto;
	margin-bottom: 2rem;
	font-family: 'Consolas', 'Liberation Mono', monospace;
	background-image: linear-gradient(to bottom right, var(--gradientTopLeft), var(--background));
	box-shadow: rgba(255, 255, 255, 0.2) 0px 10px 16px 2px, rgba(255, 255, 255, 0.2) 0px 6px 20px 2px;
}

#pageContainer * {
	color: var(--text);
	font-family: 'Consolas', 'Liberation Mono', monospace;
}

/* main ! */
#pageMain {
	grid-area: main;
	border-top: 2px solid var(--text);
	padding: 1rem;
}

#pageMain h1,
#pageMain h2,
#pageMain h3 {
	text-align: center;
	margin-bottom: .5rem;
	margin-top: .5rem;
}

#pageMain h1:nth-child(1) {
	margin-top: 0;
}

#pageMain h1 {
	font-size: 1.5rem;
}

#pageMain p {
	text-indent: 1rem;
	border-left: 2px solid var(--accentAlt);
	padding-left: 1rem;
	margin-bottom: 1rem;
	line-height: 1.1;
	font-size: .9rem;
}

/* header */
#pageHeader {
	grid-area: header;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: .5rem 2rem 1rem 2rem;
}

#pageHeaderName {
	text-decoration: none;
	font-weight: 700;
	font-size: 44.8px;
	text-shadow: 2px 2px 0px var(--accent);
}

#pageHeaderLogo {
	max-width: 6rem;
	filter: drop-shadow(10px 10px 4px #6c6c6c)
}

#pageHeaderButtons {
	align-self: flex-start;
}

#pageHeaderButtonsAndLogo {
	display: flex;
	gap: 2rem;
}

#pageThemeButton {
	border: 2px solid var(--accent);
	background-color: var(--backgroundAlt);
	padding: .3rem;
	cursor: pointer;
}

/* navbar */
#pageNavbar {
	grid-area: navbar;
	padding-bottom: 1rem;
	/* necessary to make the anchor tags' range fully clickable */
}

#pageNavbar ul {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	width: 95%;
	margin: 0 auto;
}

#pageNavbar li {
	flex: 1;
}

#pageNavbar a {
	display: block;
	margin: 0 auto;
	width: 57%;
	text-align: center;
	padding: .75rem 0;
	text-decoration: none;

	background-color: var(--backgroundAlt);
	border: 3px outset var(--accentAlt);
}

/* sidebar */
#pageSidebar {
	grid-area: sidebar;
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	gap: .5rem;
	padding: 1rem .5rem;
	border-top: 2px solid var(--text);
	border-right: 2px solid var(--text);
}

#pageButtonMarquee {
	background-color: var(--backgroundAlt);
	border: 2px ridge var(--accent);
	height: auto;
	width: 90%;
	padding: .5rem 0 .45rem 0;
	overflow: hidden;
	position: relative;
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}

#pageDashboard {
	display: flex;
	flex-flow: column nowrap;
	background: linear-gradient(rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.274)), url('/media/pipertextResources/bgSpace.gif');
	justify-content: center;
	align-items: center;
	gap: .5rem;
	padding: 3rem 0;
	width: 90%;
	border: 2px ridge var(--accent);
}

#pageDashboard time {
	text-align: center;
	color: whitesmoke;
}

#pageDashboard img {
	width: 88px;
	height: 31px;
}

#pageRecentPosts,
#pageTinNotes {
	font-size: .85rem;
	width: 90%;
}

#pageRecentPosts h3,
#pageTinNotes h3 {
	text-decoration: underline dotted;
	font-size: 1.1rem;
	text-align: center;
	width: 100%;
	padding-bottom: .3rem;
	border-bottom: 2px solid var(--accent);
	cursor:context-menu;
}

#pageRecentPosts h3:hover,
#pageTinNotes h3:hover {
	text-decoration: underline blink;
}

#pageRecentPosts h3 {
	margin-bottom: .3rem;
}

#pageRecentPosts dt {
	font-style: italic;
}

#pageRecentPosts dt a {
	text-decoration: none;
	font-weight: 700;
}

#pageRecentPosts time {
	font-size: .75rem;
}

#pageRecentPosts dd {
	margin-bottom: .5rem;
}

#pageTinNotes ul {
	list-style-type: none;
}

#pageTinNotes ul li {
	margin: 1rem;
	width: 90%;
}

#pageTinNotes ul li a {
	padding: .5rem;
	background-color: var(--backgroundAlt);
	border: 3px ridge var(--accentAlt);
	width: 90%;
}

/* footer */
#pageFooter {
	grid-area: footer;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: 1.2rem 0;
	border-top: 2px solid var(--text);
	gap: .2rem;
}

#pageFooter small a {
	text-decoration: none;
	animation: colorCycle 0.9s infinite linear;
}

@keyframes colorCycle {
	0% {
		color: red;
	}

	25% {
		color: orange;
	}

	50% {
		color: rgb(26, 3, 3);
	}

	75% {
		color: orangered;
	}

	100% {
		color: red;
	}
}

#pageFooter img {
	width: 2rem;
}

#pageFooterWithLove {
	background-color: var(--backgroundAlt);
	padding: .5rem;
	font-style: italic;
	border: 2px ridge var(--accentAlt);
}

/* articles hash */
#articleSearch {
	display: block;
	margin: 0 auto;
	width: 15rem;
	border: 3px groove var(--accent);
	background-color: transparent;
	padding: .3rem;
}

#articleList {
	display: flex;
	gap: .5rem;
	margin-top: 1rem;
	flex-flow: column nowrap;
	list-style-type: none;
}

#articleList a {
	margin: 0 auto;
	width: 90%;
	background-color: var(--backgroundAlt);
	padding: .5rem;
	border: 3px groove var(--accent);
}

#articleList a li {
	display: flex;
	justify-content: space-between;
}

/* resource hash */
#resourceGuides {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: .5rem;
	margin-bottom: 1rem;
}

#resourceGuides a {
	flex: 1;
	height: 14rem;
	min-height: 12rem;
	max-width: 14rem;
	min-width: 12rem;
	text-decoration: none;
	border: 3px ridge var(--accent);
}

#resourceHTML {
	background-image: linear-gradient(to right bottom, rgb(0 0 0 / .8), var(--background)), url('/media/img/resourceHTML.png');
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	text-shadow: 2px 2px var(--accent);
}

#resourceContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
	grid-auto-rows: max-content;
	gap: 1.2rem;
	margin-top: 1rem;
	text-decoration: none;
}

#resourceContainer a {
	text-decoration: none;
	color: var(--accent);
	background: linear-gradient(to bottom right, var(--backgroundAlt), var(--background));
	border: 3px ridge var(--accentAlt);
	height: 100%;
	padding: .4rem;
}

#resourceContainer a p {
	border: none;
	padding: 0;
	margin: 0;
	text-indent: 0;
	text-align: center;
	margin-bottom: 0.5rem;
	text-decoration: none;
}

.resGrid {
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
}

.resGrid div {
	background-color: var(--background);
	color: var(--text);
	padding: 0.4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.resGrid div p {
	margin-right: 2rem;
	margin-left: .5rem;
	margin-bottom: 1rem;
}

.resGrid div p img {
	float: right;
	margin-left: 1rem;
	margin-bottom: 1rem;
}

/* quotes hash */
#quotes {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
	grid-auto-rows: max-content;
	gap: 1.2rem;
	margin-top: 1rem;
}

#quotes blockquote {
	background-color: var(--backgroundAlt);
	padding: 1rem;
	border: 2px groove var(--accent);
	display: flex;
	gap: .5rem;
	flex-direction: column;
	height: min-content;
}

#quotes blockquote div {
	padding: 0.5rem;
	border: 2px groove var(--accent);
	text-indent: 1rem;
	line-height: 1.3rem;
}

#quotes blockquote p {
	text-align: center;
	border-left: none;
	text-indent: 0;
	margin-bottom: 0;
	background-color: var(--background);
	padding: 0.6rem;
	border: 3px ridge rgb(2, 2, 2);
	font-size: 1rem;
}

/* about hash */
#aboutFoot {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
}

#aboutFoot #asciiPipe {
	font-size: .3rem;
}

#aboutFoot #aboutIconRow {
	padding: .5rem;
	background-color: var(--backgroundAlt);
	border: 2px ridge var(--accent);
}

/* contact hash */
#contactEmails {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

#contactEmails a {
	margin: auto;
	text-decoration: none;
	color: var(--secondary);
	padding: 0.3rem;
	background-color: var(--backgroundAlt);
	border: 4px outset var(--text);
}

#contactForm {
	display: flex;
	flex-flow: column nowrap;
	max-width: 24rem;
	margin: 0 auto;
	font-size: 1.2rem;
	text-align: center;
}

#contactForm label {
	margin-top: .5rem;
	margin-bottom: .2rem;
}

#contactForm input,
#contactForm textarea {
	border: 2px ridge var(--accent);
	padding: .2rem;
	background-color: transparent;
	font-size: .85rem;
	font-family: Consolas, 'Liberation Mono', 'Adwaita Mono', monospace;
}

#contactForm button {
	width: 5rem;
	padding: .2rem .5rem;
	border-radius: 0;
	color: var(--secondary);
	border-color: var(--text);
	background-color: var(--backgroundAlt);
	margin: 0 auto;
	margin-top: 1rem;
	cursor: pointer;
}

/* index media query */
@media screen and (max-width: 1050px) {
	#pageContainer {
		grid-template-areas:
			"header  header"
			"navbar  navbar"
			"main main"
			"sidebar sidebar"
			"footer  footer";
	}

	#smokeLounge {
		display: none;
		/* perhaps change later? */
	}

	#pageHeader {
		flex-flow: column nowrap;
	}

	#pageNavbar ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		height: 100%;
		gap: 1rem;
	}

	#pageNavbar ul li {
		min-width: 45%;
	}

	#pageSidebar {
		border-right: none;
	}

	#pageSidebar #pageButtonMarquee {
		display: none;
	}
	#pageHeaderName {
		width: 22rem;
		font-size: 3rem;
		margin-bottom: 1rem;
		margin-top: 1rem;
	}
	#pageHeaderButtonsAndLogo {
		justify-content: center;
		align-items: center;
	}
	#pageHeaderButtons {
		height: 100%;
		margin-top: 15%;
	}
}
@media screen and (max-width: 360px) {
	#pageHeaderName {
		width: 15rem;
		font-size: 2rem;
	}
}

/* marquee animation */
.marquee img {
	-moz-animation: scroll-left 6s linear infinite;
	-webkit-animation: scroll-left 6s linear infinite;
	animation: scroll-left 6s linear infinite;
	height: 31px;
}

@keyframes scroll-left {
	0% {
		-moz-transform: translateX(270%);
		-webkit-transform: translateX(270%);
		transform: translateX(270%);
	}

	100% {
		-moz-transform: translateX(-270%);
		-webkit-transform: translateX(-270%);
		transform: translateX(-270%);
	}
}

/* standard figure component */
.standardCard {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	float: right;
	margin: 0 0 1rem 1rem;
}

.standardCard img {
	max-width: 13rem;
	border: 4px outset var(--accent);
}

.standardCard figcaption {
	max-width: 12rem;
	border: 4px outset var(--accent);
	border-top: none;
	font-size: .8rem;
	padding: .5rem;
	text-align: center;
}

.bigFigureImg {
	max-width: 95%;
	margin: 0 auto;
	display: block;
	border: 4px outset var(--accent);
}

.bigFigure figcaption {
	max-width: 80%;
	text-align: center;
	margin: 0 auto 1rem auto;
	background-color: transparent;
	padding: 1rem;
	border: 4px outset var(--accent);
	border-top: none;
}

/* the smoke lounge */
#smokeLounge {
	width: 80%;
	margin: 0 auto;
	background-color: var(--backgroundAlt);
	border: 3px ridge var(--accentAlt);
}

#smokeLounge h3 {
	text-align: start;
	margin-bottom: 0;
	border-bottom: 2px groove var(--backgroundAlt);
	padding: .3rem;
}

#smokeLounge #smokeLoungeContent {
	display: flex;
	flex-flow: row nowrap;
	min-height: 10rem;
}

#smokeLounge #smokeLoungeChat {
	width: 75%;
	padding: .3rem;
}

#smokeLounge #smokeLoungePoll {
	width: 25%;
	border-left: 2px groove var(--backgroundAlt);
	height: 10rem;
	padding: .3rem;
}

/* window component */
.window {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	width: auto;
	height: auto;
	border: 3px ridge var(--accentAlt);
	background-color: var(--accent);
	position: absolute;
	top: 8rem;
	left: 8rem;
}

.windowTitle {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 2rem;
	gap: .52rem;
}

.windowTitle h4 {
	user-select: none;
}

.windowTitle div {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: .4rem;
}

.windowTitle div:nth-child(2) {
	margin-right: .3rem;
}

.windowTitle div:nth-child(2) button {
	border: 2px ridge var(--accent);
	padding: .1rem .3rem;
	background-color: var(--backgroundAlt);
	color: var(--background);
}

.windowTitle div:nth-child(2) button:hover {
	border: 2px groove var(--accentTwo);
	cursor: pointer;
}

.windowTitle div img {
	margin-left: 4px;
}

/* themes window component */
#themeList {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border: 2px groove var(--accentTwo);
	padding: .3rem;
}

#themeList button {
	font-size: .8rem;
	font-family: Consolas, 'Liberation Mono', 'Adwaita Mono', monospace;
	width: 6.5rem;
	cursor: pointer;
	padding: .2rem;
	margin: .1rem;
}

#themeList button:nth-child(1) {
	/* accentOne secondary primary */
	border: 2px solid #810000;
	color: #eeebdd;
	background-color: #1b1717;
}

#themeList button:nth-child(2) {
	border: 2px solid rgb(54, 36, 24);
	color: #FED8B1;
	background-color: rgb(134, 90, 69);
}

#themeList button:nth-child(3) {
	border: 2px solid rgb(17, 97, 17);
	color: #1b1717;
	background-color: #33FF33;
}

#themeList button:nth-child(4) {
	border: 2px solid #732906;
	color: #9d8457;
	background-color: #2f2617;
}

#themeList button:nth-child(5) {
	border: 2px solid rgb(103, 117, 94);
	color: #968732;
	background-color: #4c5844;
}

#themeList button:nth-child(6) {
	border: 2px solid #bac715;
	color: #d4d8de;
	background-color: #012456;
}

#themeList button:nth-child(7) {
	border: 2px solid grey;
	color: black;
	background-color: white;
}

#themeList button:nth-child(8) {
	border: 2px solid grey;
	color: white;
	background-color: black;
}

#themeList button:nth-child(9) {
	border: 2px solid #99BC85;
	color: #443627;
	background-color: #FFF5E4;
}

#themeList button:nth-child(10) {
	border: 2px solid #0000ac;
	color: #000000;
	background-color: #acaaac;
}

#themeList button:nth-child(11) {
	border: 2px solid #272728;
	color: #dcdcdc;
	background-color: #6a4832;
}

#themeList button:nth-child(12) {
	border: 2px solid rgb(144, 177, 0);
	color: #ffffff;
	background-color: #161616;
}

#themeList button:nth-child(13) {
	border: 2px solid #260000ff;
	color: #89000bff;
	background-color: #000000;
}

#themeList button:nth-child(14) {
	border: 2px solid #be0b31;
	color: #003693ff;
	background-color: #ffffff;
}

#themeList button:nth-child(15) {
	border: 2px solid #96d419;
	color: #f5f5f5;
	background-color: #0055ff;
}

#themeList button:nth-child(16) {
	border: 2px solid #E25E3E;
	color: #FFBB5C;
	background-color: #C63D2F;
}

/* tobacconist */
#tobacconistNav {
	display: flex;
	flex-flow: row wrap;
	gap: 3rem;
}

.tobacconistCard {
	width: 40%;
	min-height: 9rem;
	min-width: 13rem;
	padding: .5rem;
	font-size: 1.5rem;
	font-weight: bold;
	text-shadow: 2px 2px var(--accent);
	background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), var(--accent)), url('/media/pipertextResources/pipertextPipe.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	border: 3px ridge var(--accent);
	flex: 1;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	word-wrap: break-word;
}

/* article heads */
#articleHead {
	display: flex;
	margin-top: .5rem;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	gap: 2rem;
	border-bottom: 1px solid var(--text);
}

#articleHeadMetadata {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
	flex-basis: 55%;
	text-align: center;
	margin: 0 auto;
}

#tableOfContents {
	flex-basis: 45%;
	display: flex;
	flex-flow: column nowrap;
	padding: 1rem;
	border: 3px ridge var(--accentAlt);
}

#tableOfContents a {
	text-decoration: none;
}

.headImg {
	/* mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) -20%, transparent 100%); */
	width: 95%;
	margin: 0 auto;
	justify-self: center;
	margin-top: 1.5rem;
	border: 2px solid var(--text);
	display: block;
}

/* HTML articles */
.elementList {
	padding: 0 2rem 1rem 2rem;
	font-size: .85rem;
	display: flex;
	flex-flow: column nowrap;
	gap: .5rem;
	list-style-type: none;
}

.elementList li {
	border: 2px ridge var(--accent);
	padding: .5rem;
}

.elementList li details summary {
	font-size: 1rem;
	cursor: pointer;
	padding: .5rem;
}

.codeBlock {
	white-space: pre-wrap;
	color: var(--code) !important;
	font-size: 1rem;
	display: block;
	margin: 0 auto;
	border: 2px solid var(--accent);
	padding: 1rem;
	margin-bottom: 1rem;
	height: fit-content;
}